@section Styles {
    <link href="/css/catalog/register.css" rel = "stylesheet"></link>
}

<form class="col-8">
    
    <h3>Register new vehicle</h3>

  <div class="form-group row">
    <label for="txtYear" class="col-4 col-form-label">Year</label> 
    <div class="col-8">
      <input id="txtYear" name="txtYear" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtMake" class="col-4 col-form-label">Make</label> 
    <div class="col-8">
      <input id="txtMake" name="txtMake" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtModel" class="col-4 col-form-label">Model</label> 
    <div class="col-8">
      <input id="txtModel" name="txtModel" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtMiles" class="col-4 col-form-label">Miles</label> 
    <div class="col-8">
      <input id="txtMiles" name="txtMiles" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="selCategory" class="col-4 col-form-label">Category</label> 
    <div class="col-8">
      <select id="selCategory" name="selCategory" class="custom-select">
        <option value="Sedan">Sedan</option>
        <option value="Sport">Sport</option>
        <option value="Family">Family</option>
        <option value="PickUp">Truck/SUV</option>
        <option value="Luxury">Luxury</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="txtColor" class="col-4 col-form-label">Color</label> 
    <div class="col-8">
      <input id="txtColor" name="txtColor" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtMPG" class="col-4 col-form-label">MPG</label> 
    <div class="col-8">ß
      <input id="txtMPG" name="txtMPG" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtPrice" class="col-4 col-form-label">Daily Price</label> 
    <div class="col-8">
      <input id="txtPrice" name="txtPrice" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtImage" class="col-4 col-form-label">Image Url</label> 
    <div class="col-8">
      <input id="txtImage" name="txtImage" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Drive type</label> 
    <div class="col-8">
      <div class="custom-control custom-radio custom-control-inline">
        <input name="rdbTrans" id="rdbTrans_0" type="radio" class="custom-control-input" value="0"> 
        <label for="rdbTrans_0" class="custom-control-label">Auto</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input name="rdbTrans" id="rdbTrans_1" type="radio" class="custom-control-input" value="1"> 
        <label for="rdbTrans_1" class="custom-control-label">Manual</label>
      </div>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button id="btnSave" name="submit" type="button" class="btn btn-primary">Register Car</button>
    </div>
  </div>
</form>

@section Scripts {
    <script src="/js/catalog/register.js"></script>
}
